@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

            body {
                background: black;
                font-family: 'Archivo Black', sans-serif;
                color: white;
            }
            h1 {
                color: white;
                text-align: center;
            }
            
/* .dropbtn {
    background-color: #E6BCD0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;} */

.show {display: block;}
            
.bar-graph {
  padding: 0;
  width: 80%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 425px;
  justify-content: center;
  margin: 80px auto auto auto;
}

.bar-graph li {
  display: block;
  padding: 1.5625rem 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
  max-width: 20%;
  height: 100%;
  margin: 0 1.8% 0 0;
  -webkit-flex: 1 1 15%;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.bar-graph .bar-graph-axis {
  -webkit-flex: 1 1 8%;
      -ms-flex: 1 1 8%;
          flex: 1 1 8%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar-graph .bar-graph-label {
  margin: 0;
  background-color: none;
  color: #8a8a8a;
  position: relative;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    content: "";
    position: absolute;
    border-bottom: 1px dashed #8a8a8a;
    top: 0;
    left: 0;
    height: 50%;
    width: 20%;
  }
}

@media print, screen and (min-width: 40em) and (min-width: 64em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    width: 30%;
  }
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:after {
    left: auto;
    right: 0;
  }
}

.bar-graph .percent {
  letter-spacing: -3px;
  opacity: 0.4;
  width: 100%;
  font-size: 1.875rem;
  position: absolute;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .percent {
    font-size: 3.875rem;
  }
}

.bar-graph .percent span {
  font-size: 1.875rem;
}

.bar-graph .description {
  font-weight: 800;
  opacity: 0.5;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  bottom: 20px;
  position: absolute;
  font-size: 1rem;
  overflow: hidden;
}

.bar {
  background-color: #fff;
  color: #000;
}

.bar-graph .bar:nth-child(1) {
  border: 5px solid #CDFDA1;
  background: #CDFDA1;
  transition: background-color, 1s;
  color: gray;
}

.bar-graph .bar:nth-child(2) {
  border: 5px solid #E3CA92;
  background: #E3CA92;
  color: gray;

}

.bar-graph .bar:nth-child(3) {
  border: 5px solid #79D9FE;
  background: #79D9FE;
  color: gray;

}

.bar-graph .bar:nth-child(4) {
  border: 5px solid #B6BDC3;
  background: #B6BDC3;
  color: gray;

}

.bar-graph .bar:nth-child(1):hover {
    background: transparent;
    transition: background 3s;
}
.bar-graph .bar:nth-child(2):hover {
    background: transparent;
    transition: background 3s;
}
.bar-graph .bar:nth-child(3):hover {
    background: transparent;
    transition: background 3s;
}
.bar-graph .bar:nth-child(4):hover {
    background: transparent;
    transition: background 3s;
}
/* 
select {
  .webkit-appearance: menulist;
  box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
} */

button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  margin: 0em;
  font: 400 13.3333px Arial;
}
